DevCon2013_Clnt/Web References/wsDevCon2013/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is my WebService description.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <s:element name="fncRetornaInt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pInicio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pFinal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fncRetornaIntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fncRetornaIntResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fncRetornaString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTexto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fncRetornaStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fncRetornaStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fncRetornaTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTabela" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="fncRetornaTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fncRetornaTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="fncRetornaIntSoapIn">
    <wsdl:part name="parameters" element="tns:fncRetornaInt" />
  </wsdl:message>
  <wsdl:message name="fncRetornaIntSoapOut">
    <wsdl:part name="parameters" element="tns:fncRetornaIntResponse" />
  </wsdl:message>
  <wsdl:message name="fncRetornaStringSoapIn">
    <wsdl:part name="parameters" element="tns:fncRetornaString" />
  </wsdl:message>
  <wsdl:message name="fncRetornaStringSoapOut">
    <wsdl:part name="parameters" element="tns:fncRetornaStringResponse" />
  </wsdl:message>
  <wsdl:message name="fncRetornaTableSoapIn">
    <wsdl:part name="parameters" element="tns:fncRetornaTable" />
  </wsdl:message>
  <wsdl:message name="fncRetornaTableSoapOut">
    <wsdl:part name="parameters" element="tns:fncRetornaTableResponse" />
  </wsdl:message>
  <wsdl:portType name="MyServiceSoap">
    <wsdl:operation name="fncRetornaInt">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna a soma dos valores entre pInicio e pFinal</wsdl:documentation>
      <wsdl:input message="tns:fncRetornaIntSoapIn" />
      <wsdl:output message="tns:fncRetornaIntSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fncRetornaString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna um texto que será o Espelho do texto enviado.</wsdl:documentation>
      <wsdl:input message="tns:fncRetornaStringSoapIn" />
      <wsdl:output message="tns:fncRetornaStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="fncRetornaTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retorna uma Tabela de Dados.</wsdl:documentation>
      <wsdl:input message="tns:fncRetornaTableSoapIn" />
      <wsdl:output message="tns:fncRetornaTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServiceSoap" type="tns:MyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fncRetornaInt">
      <soap:operation soapAction="http://tempuri.org/fncRetornaInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fncRetornaString">
      <soap:operation soapAction="http://tempuri.org/fncRetornaString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fncRetornaTable">
      <soap:operation soapAction="http://tempuri.org/fncRetornaTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyServiceSoap12" type="tns:MyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="fncRetornaInt">
      <soap12:operation soapAction="http://tempuri.org/fncRetornaInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fncRetornaString">
      <soap12:operation soapAction="http://tempuri.org/fncRetornaString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fncRetornaTable">
      <soap12:operation soapAction="http://tempuri.org/fncRetornaTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is my WebService description.</wsdl:documentation>
    <wsdl:port name="MyServiceSoap" binding="tns:MyServiceSoap">
      <soap:address location="http://localhost/DevCon2013_srv/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MyServiceSoap12" binding="tns:MyServiceSoap12">
      <soap12:address location="http://localhost/DevCon2013_srv/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>